@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

/* custom css */
@theme {
  --color-first: #852DDB;
  --color-title: #666666;
  --color-text: #808080;
  --color-body: #FFFFFF;
  --color-container: #EDEDED;
  --color-border: #DEDEDE;
  --color-primary: #7AC72E;
}

